<p id="notice"><%= notice %></p>

<h1>Flips</h1>

<table class"table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Address one</th>
            <th>Address city</th>
      <th>Address state</th>
      <th>Address county</th>
      <th>Status</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Square foot</th>
      <th>Year built</th>
      <th>Price per square foot</th>
      <th>Lot size</th>
      <th>Foundation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flips.each do |flip| %>
      <tr>
        <td><%= flip.date %></td>
        <td><%= flip.address_one %></td>
        <td><%= flip.address_city %></td>
        <td><%= flip.address_state %></td>
        <td><%= flip.address_county %></td>
        <td><%= flip.status %></td>
        <td><%= flip.baths %></td>
        <td><%= flip.square_foot %></td>
        <td><%= flip.overview %></td>
        <td><%= flip.year_built %></td>
        <td><%= flip.price_per_square_foot %></td>
        <td><%= flip.lot_size %></td>
        <td><%= flip.foundation %></td>

        <td><%= link_to 'Show', flip %></td>
        <td><%= link_to 'Edit', edit_flip_path(flip) %></td>
        <td><%= link_to 'Destroy', flip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flip', new_flip_path %>
