<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @flip.date %>
</p>

<p>
  <strong>Address one:</strong>
  <%= @flip.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @flip.address_two %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @flip.address_city %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @flip.address_state %>
</p>

<p>
  <strong>Address county:</strong>
  <%= @flip.address_county %>
</p>

<p>
  <strong>Status:</strong>
  <%= @flip.status %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @flip.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @flip.baths %>
</p>

<p>
  <strong>Square foot:</strong>
  <%= @flip.square_foot %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @flip.overview %>
</p>

<p>
  <strong>Feature one:</strong>
  <%= @flip.feature_one %>
</p>

<p>
  <strong>Feature two:</strong>
  <%= @flip.feature_two %>
</p>

<p>
  <strong>Feature three:</strong>
  <%= @flip.feature_three %>
</p>

<p>
  <strong>Home value:</strong>
  <%= @flip.home_value %>
</p>

<p>
  <strong>Tax history:</strong>
  <%= @flip.tax_history %>
</p>

<p>
  <strong>Price history:</strong>
  <%= @flip.price_history %>
</p>

<p>
  <strong>Monthly cost:</strong>
  <%= @flip.monthly_cost %>
</p>

<p>
  <strong>Nearby schools:</strong>
  <%= @flip.nearby_schools %>
</p>

<p>
  <strong>Legal protections:</strong>
  <%= @flip.legal_protections %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @flip.home_type %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @flip.year_built %>
</p>

<p>
  <strong>Hoa string:</strong>
  <%= @flip.hoa_string %>
</p>

<p>
  <strong>Price per square foot:</strong>
  <%= @flip.price_per_square_foot %>
</p>

<p>
  <strong>Flooring:</strong>
  <%= @flip.flooring %>
</p>

<p>
  <strong>Heating:</strong>
  <%= @flip.heating %>
</p>

<p>
  <strong>Cooling:</strong>
  <%= @flip.cooling %>
</p>

<p>
  <strong>Lot size:</strong>
  <%= @flip.lot_size %>
</p>

<p>
  <strong>Lot features string:</strong>
  <%= @flip.lot_features_string %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @flip.foundation %>
</p>

<p>
  <strong>Roof type:</strong>
  <%= @flip.roof_type %>
</p>

<p>
  <strong>Roof age:</strong>
  <%= @flip.roof_age %>
</p>

<p>
  <strong>Water util:</strong>
  <%= @flip.water_util %>
</p>

<p>
  <strong>Electricity util:</strong>
  <%= @flip.electricity_util %>
</p>

<p>
  <strong>Sewer util:</strong>
  <%= @flip.sewer_util %>
</p>

<p>
  <strong>Association name:</strong>
  <%= @flip.association_name %>
</p>

<p>
  <strong>Annual taxes:</strong>
  <%= @flip.annual_taxes %>
</p>

<%= link_to 'Edit', edit_flip_path(@flip) %> |
<%= link_to 'Back', flips_path %>
